@import url(./var.css);

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  cursor: default;
  background-color: var(--color-lightGray);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.inner {
  max-width: 128rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.icon__hidden {
  overflow: hidden;
  display: inline-block;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.btn-yellow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-white);
  margin-top: 20px;
}

.icon-whith {
  font-size: var(--size-regular);
  color: var(--color-yello);
  line-height: 30px;
  text-align: center;
}

/* photo */
.photo {
  width: 820px;
  height: 680px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* header */
.header {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background-color: var(--color-white);
  margin-bottom: 120px;
}

.header .inner {
  position: relative;
}


.header__logo {
  margin: auto 0;
  position: relative;
  z-index: 99;
  display: inline-block;
}

.header__logo .anchor {
  font-size: var(--size-bold);
  font-weight: var(--weight-bold);
  color: var(--color-yello);
  line-height: 59px;
}


.header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 27px;
}

.header__nav .nav__item {
  text-align: center;
  padding: 0 60px;
  display: inline;
}

.nav__item>.anchor {
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  line-height: 27px;
}

.header__user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.user-menu__item {
  margin-left: 40px;
  position: relative;
}

.user-menu__item>.anchor {
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
}

.user-menu__item::before {
  content: "";
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  border: 1px solid var(--color-gray);
  margin: 0 auto;
}

.user-menu__item:first-child:before {
  display: none;
}


/* footer */
.footer {
  background-color: var(--color-darkBlue);
  width: 100%;
  height: 100%;
  padding: 70px 0;
  margin-top: 120px;
}

.footer__list {
  display: flex;
  color: var(--color-yello);
}

.footer__list .list {
  margin-right: 120px;
}

.footer__list .list .list__title {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  margin-bottom: 40px;
  line-height: 20px;
}

.footer__list .list .list__icon .icon {
  font-size: 30px;
  color: var(--color-white);
  margin-right: 40px;
}

.footer__list .list .list__text {

  line-height: 24px;
  color: var(--color-white);
  font-size: var(--size-regular);
  font-weight: var(--weight-regule);
}

.footer__list .list .list__text dd,
.footer__list .list .list__number dd {
  margin-bottom: 10px;
}


.search__arear {
  margin-bottom: 20px;
}

.footer__search .search--input {
  width: 240px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.footer__search .search--icon {
  font-size: var(--size-medium);
  text-align: center;
  line-height: 24px;
}

/* swiper */
.swiper-slide-active .week,
.swiper-slide-active .day {
  color: black !important;
}

.swiper-slide-active .week::before {
  content: "";
  width: 80px;
  height: 0;
  border: 1px solid var(--color-black) !important;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  width: 70px;
  height: 0;
  background: none;
  border-radius: 0;
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  margin-left: 20px;
  position: relative;
}

.swiper-pagination-bullet-active {
  transition: all .2s;
  text-align: left;
}

.swiper-pagination-bullet-active::after {
  content: "";
  width: 44px;
  height: 0;
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  position: absolute;
  top: 40px;
  left: 0;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
}

.bottom-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 10px;
  }

  .inner {
    max-width: 90%;
  }

  .header {
    background-color: var(--color-lightGray);
    margin: 0;
    padding: 0;
  }

  .header__logo {
    display: inline-block;
  }

  .header__nav {
    display: none;
  }

  .header__user-menu {
    display: none;
  }

  .footer {
    display: none;
  }

  .bottom-menu {
    width: 100%;
    display: block;
    background-color: var(--color-white);
    padding: 2rem 4rem;
    position: fixed;
    bottom: 0;
    z-index: 98;
  }

  .bottom-menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-nav__item .icon {
    font-size: var(--size-bold);
  }

  /* swiper */
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0);
  }
}