@import url(./common.css);

/* MAIN VIEW */
.main-view {
  width: 100%;
  height: 100%;
}

.main-view__title {
  width: 100%;
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
}


.main-view--but {
  width: 70px;
  height: 24px;
  border: none;
  position: absolute;
  top: 70px;
  left: 0;
  text-align: left;
  display: flex;
}

.main-view--but .swiper-pagination-bullet {
  width: auto;
}

.main-view--but .swiper-pagination-bullet+.swiper-pagination-bullet {
  margin-left: 20px;
}

.main-view--but .swiper-pagination-bullet:after {
  width: 100%;
}


.main-view__wrapper {
  width: 100%;
  margin-top: 140px;
}

/* news */
.news {
  overflow: hidden;
}


.news__banner {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.news__banner>iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}

.news__text-arear {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 0 0 20px 20px;
  padding: 20px 20px;
  margin-bottom: 40px;
}

.news__text-arear .tag {
  display: flex;
  font-size: var(--size-micro);
  font-weight: var(--weight-medium);
  color: var(--color-blue);
  margin-bottom: 20px;
  line-height: 21px;
}

.news__text-arear .tag p {
  margin-right: 10px;
}

.news__info {
  display: flex;
}

.news__info-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.news-info__text {
  margin: auto 0;
}

.news-info__text>.name {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  line-height: 30px;
}

.news-info__text>.day {
  font-size: var(--size-small);
  font-weight: var(--weight-regule);
  color: var(--color-gray);
  margin-top: 10px;
  line-height: 24px;
}

.news__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.news__item {
  width: 630px;
  height: 240px;
  background-color: var(--color-white);
  border-radius: 20px;
  display: flex;
}

.news__item .anchor {
  display: flex;
  padding: 2rem;
  transition: padding .3s linear;
}

.news__item-img {
  width: 310px;
  height: 100%;
  object-fit: cover;
  text-align: center;
  overflow: hidden;
  margin-right: 2rem;
}

.news__item__text-arear .tit {
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  margin-bottom: 1rem;
}

.news__item__text-arear .name {
  font-size: var(--size-small);
  font-weight: var(--weight-medium);
  margin-bottom: 1rem;
}

.news__item__text-arear .icon {
  font-size: var(--size-bold);
  color: red;
}

/* following */
.following {
  overflow: hidden;
}

.following__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.following__item {
  width: 415px;
  height: 470px;
  background-color: var(--color-white);
  position: relative;
  border-radius: 20px;
  margin: 20px 0;
}

.following__item .content {
  display: flex;
  padding: 20px 0;
}

.following__item .content .content__logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: contain;
}

.following__item .content .content__text-arear {
  margin: auto 0;
  position: relative;
  width: 50%;
}

.following__item .content .content__name {
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  display: inline-block;
  margin-right: 10px;
}

.following__item .content .content__time {
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
  display: inline-block;
}

.following__item .content .content__domicile {
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
  display: block;
  margin-top: 10px;
}

.following__item .content .content__info {
  position: absolute;
  top: 40px;
  right: 20px;
}

.following__item .content .content__info-icon {
  font-size: var(--size-small);
  cursor: pointer;
  position: relative;
  border: none;
  background-color: var(--color-white);
}


.following__item .content .content__discription {
  width: 120px;
  height: 100px;
  padding: 16px;
  position: absolute;
  right: 0px;
  background-color: var(--color-white);
  font-size: var(--size-micro);
  font-weight: var(--weight-regule);
  display: none;
  z-index: 60;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.following__item .content .content__discription.is-active {
  display: block;
}


.following__item .content .content__discription .sns {
  margin-bottom: 20px;
  display: block;
  font-size: var(--size-micro);
  font-weight: var(--weight-regule);
}

.following__item .content .content__discription .delete {
  display: block;
  font-size: var(--size-micro);
  font-weight: var(--weight-regule);
}

.following__item-img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

@media (min-width: 375px) and (max-width: 1024px) {
  .main-view {
    margin-bottom: 4rem;
  }

  .main-view__title {
    padding: 2rem 0;
  }


  .main-view__wrapper {
    margin-top: 10rem;
  }


  .news__text-arear {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .news__text-arear .tag {
    margin-bottom: 1rem;
  }

  .news__info {
    align-items: center;
  }

  .news__info-img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
  }



  .news-info__text .name {
    font-size: var(--size-small);
    line-height: 18px;
  }

  .news-info__text {
    margin: 0;
  }

  .news-info__text .day {
    font-size: var(--size-small);
    line-height: 18px;
    margin-top: .5rem;
  }

  .news__list {
    display: block;
    margin-bottom: 4rem;
  }

  .news__item {
    width: 100%;
    height: 100%;
  }

  .news__item {
    margin-bottom: 1rem;
  }

  .news__item-img {
    width: 200px;
    height: 100%;
  }

  .following__list {
    margin-top: -2rem;
  }

  .following__item {
    margin-top: 1rem;
  }
}