@import url(./common.css);

.message__title {
  width: 100%;
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
}

.message--but {
  width: 70px;
  height: 24px;
  border: none;
  position: absolute;
  top: 70px;
  left: 0;
  text-align: left;
  display: flex;
}

.message__swiper {
  margin-top: 140px;
}

/* chatting */
.chatting {
  width: 100%;
  height: 57.68924302788845%;
  display: flex;
  justify-content: space-between;
}

.chatting__left {
  background-color: var(--color-white);
  width: 34.375%;
  height: 778px;
  padding: 20px 20px;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.chatting__left::-webkit-scrollbar {
  display: none;
}

/* left */
.left__search {
  position: relative;
}

.left__search .left-input {
  width: 100%;
  height: 44px;
  border-radius: 20px;
}

.left__search .left-icon {
  font-size: var(--size-medium);
  position: absolute;
  top: 14px;
  right: 10px;
}

.left__container .item {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--color-lightGray);
  border-radius: 20px;
  align-items: center;
  display: flex;
  position: relative;
}

.left__container .item .profile {
  width: 60px;
  height: 60px;
  object-fit: cover;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}

.left__container .item .text-arear .name {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  display: block;
  line-height: 24px;
  margin-bottom: 10px;
}

.left__container .item .text-arear .talk {
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
  color: var(--color-gray);
  line-height: 15px;
}

.left__container .item .time {
  position: absolute;
  right: 20px;
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
  color: var(--color-gray);
}

/* right */
.chatting__right {
  width: 62.5%;
  height: 778px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--color-white);
  border-radius: 20px;
  position: relative;
}

.chatting__right::-webkit-scrollbar {
  display: none;
}

.right__profil {
  text-align: center;
  width: 100%;
  background-color: var(--color-darkBlue);
  padding: 20px 0;
}

.right__profil .right-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  text-align: center;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.right__profil .right__title .name {
  font-size: var(--size-medium);
  font-weight: var(--weight-medium);
  line-height: 30px;
  color: var(--color-white);
  margin: 20px 0;
}

.right__profil .right__title .time {
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
  line-height: 18px;
  color: var(--color-white);
}

.right__chatroom {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chat-list__item {
  margin-bottom: 4rem;
}

.chat-list__item-message {
  padding: 20px;
  background-color: var(--color-lightGray);
  display: inline-block;
  position: relative;
  border-radius: 20px;
}

.chat-list__item-message .text {
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
}

.chat-list__item-message .time {
  position: absolute;
  bottom: 0;
  right: -52px;
}

.chat-list__item-my {
  text-align: right;
}


.chat-list__item-my .chat-list__item-message .time {
  position: absolute;
  bottom: 0;
  right: auto;
  left: -52px;
}

.right__text-box {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-box__icon {
  font-size: var(--size-bold);
}

.text-box__send {
  width: 90%;
  position: relative;
}

.text-box__send-input {
  width: 100%;
  height: 4rem;
  border-radius: 20px;
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
}

.text-box__send__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6px;
  right: 4px;
  background-color: yellowgreen;
  font-size: var(--size-medium);
  color: var(--color-white);
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

/* recommend */
.recommend {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.recommend__search {
  position: relative;
  margin-bottom: 70px;
}

.recommend__search-input {
  width: 81.25%;
  height: 64px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 14px 20px rgb(0 0 0 / 20%);
}

.recommend__search-icon {
  position: absolute;
  top: 24px;
  right: 260px;
  font-size: var(--size-regular);
}

.recommend__title {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  margin-bottom: 40px
}

.bookmark {
  width: 305px;
  height: 290px;
  padding: 40px;
  background-color: var(--color-white);
  text-align: center;
  border-radius: 20px;
  position: relative;
  margin-bottom: 140px;
}

.bookmark::before {
  content: "";
  width: 1280px;
  height: 0;
  border: 1px solid var(--color-black);
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
}

.bookmark__face {
  width: 60px;
  height: 60px;
  object-fit: cover;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
}

.bookmark__text-arear {
  margin: 20px 0 40px 0;
}

.bookmark__text-arear .name {
  display: block;
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  line-height: 3rem;
  margin-bottom: 2rem;
}

.bookmark__text-arear .text {
  font-size: var(--size-micro);
  font-weight: var(--weight-regule);
  line-height: 18px;
}

.bookmark__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--size-regular);
}

.hospital {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hospital__list {
  width: 305px;
  height: 290px;
  padding: 40px;
  background-color: var(--color-white);
  text-align: center;
  border-radius: 20px;
}

.hospital__face {
  width: 60px;
  height: 60px;
  object-fit: cover;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
}

.hospital__text-arear {
  margin: 20px 0 40px 0;
}

.hospital__text-arear .name {
  display: block;
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  line-height: 30px;
  margin-bottom: 20px;
}

.hospital__text-arear .text {
  font-size: var(--size-micro);
  font-weight: var(--weight-regule);
  line-height: 18px;
}

.hospital__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--size-regular);
}

@media screen and (max-width: 1024px) {
  .message__title {
    padding: 20px 0;
  }


  .right__text-box .text-box__icon {
    font-size: var(--size-bold);
  }

  .recommend__search-input {
    width: 100%;
    height: 6rem;
  }

  .recommend__search-icon {
    right: 20px;
  }

  .bookmark {
    width: 21rem
  }

  .hospital__list {
    width: 21rem
  }



}

@media screen and (max-width: 376px) {
  .message__swiper {
    margin-top: 10rem;
  }

  .chatting {
    width: 100%;
    height: 100%;

  }

  .chatting__left {
    width: 100%;
    height: 100%;
    margin-bottom: 9rem;
  }

  .chatting__right {
    display: none;
  }

  .bookmark {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
  }

  .bookmark__face,
  .hospital__face {
    width: 5rem;
    height: 5rem;
    display: inline;
    margin-right: 1rem;
  }

  .bookmark__text-arear,
  .hospital__text-arear {
    margin: auto 0;
    text-align: left;
  }

  .bookmark__text-arear .name,
  .hospital__text-arear .name {
    margin-bottom: .4rem;
    line-height: 2rem;
    margin: auto 0;

  }

  .bookmark__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto 0;
  }

  .bookmark__icon .call,
  .bookmark__icon .message {
    display: none;
  }

  .bookmark__icon .info,
  .hospital__icon .info {
    font-size: var(--size-medium);
  }

  .hospital {
    display: block;
    position: relative;
    margin-bottom: 7rem;
  }

  .hospital__list {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
  }

  .hospital__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto 0;
  }

  .hospital__icon .call,
  .hospital__icon .message {
    display: none;
  }

}