@import url(./common.css);

/* RECORDS */
.records__title {
  width: 100%;
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  margin-bottom: 70px;
}

.records__calendar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

/* calendar */
.calendar__list {
  background-color: var(--color-white);
  width: 111px;
  height: 180px;
  border-radius: 60px;
  text-align: center;
  padding: 40px 0;
}

.calendar__list .week {
  display: block;
  font-size: var(--size-medium);
  font-weight: var(--weight-regule);
  position: relative;
  margin-bottom: 44px;
  line-height: 30px;
  color: var(--color-gray);
}

.calendar__list .week::before {
  content: "";
  width: 80px;
  height: 0;
  border: 1px solid var(--color-lightGray);
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;

}

.calendar__list .day {
  font-size: var(--size-medium);
  font-weight: var(--weight-regule);
  line-height: 30px;
  color: var(--color-gray);
}

/* chart */
.records__chart {
  background-color: var(--color-darkBlue);
  padding: 40px 160px;
  border-radius: 20px;
}

.chart__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


.chart__top .top__left .number {
  display: block;
  color: var(--color-white);
  font-size: var(--size-sameBold);
  font-weight: var(--weight-bold);
  margin-bottom: 20px;
  line-height: 44px;
}

.chart__top .top__left .intake {
  display: block;
  color: var(--color-white);
  font-size: var(--size-medium);
  font-weight: var(--weight-medium);
  line-height: 30px;
}

.chart__top .top__right .number {
  display: block;
  color: var(--color-white);
  font-size: var(--size-sameBold);
  font-weight: var(--weight-bold);
  margin-bottom: 20px;
  line-height: 44px;
}

.chart__top .top__right .consumption {
  display: block;
  color: var(--color-white);
  font-size: var(--size-medium);
  font-weight: var(--weight-medium);
  line-height: 30px;
}


.records-chart {
  width: 313px;
  height: 313px;
  text-align: center;
  margin: auto 0;
  position: relative;
}

.records-chart .number {
  font-size: var(--size-sameBold);
  font-weight: var(--weight-medium);
  color: var(--color-white);
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0;
}



.records-chart .text {
  font-size: var(--size-medium);
  font-weight: var(--weight-medium);
  color: var(--color-white);
  position: absolute;
  bottom: 120px;
  left: 0;
  right: 0;
  margin: auto 0;
}


.ct-series-a .ct-slice-donut-solid {
  fill: var(--color-yello);
}

.ct-series-b .ct-slice-donut-solid {
  fill: var(--color-gray);
}

.ct-chart-donut .ct-label {
  display: none;
}

.chart__bottom {
  margin-top: 70px;
}

.chart__bottom .bottom__list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* bottom */
.bottom__list .item {
  text-align: center;
}

.bottom__list .item .title {
  display: block;
  color: var(--color-white);
  font-size: var(--size-medium);
  font-weight: var(--weight-medium);
  margin-bottom: 40px;
  position: relative;
}

.bottom__list .item .title::before {
  content: "";
  width: 60px;
  height: 0;
  border: 1px solid var(--color-lightGray);
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.bottom__list .item .value {
  display: block;
  color: var(--color-white);
  font-size: var(--size-medium);
  font-weight: var(--weight-light);
}

/* container */
.records__container {
  margin: 70px 0;
}

.container__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container__list .item {
  width: 604px;
  height: 390px;
  background-color: var(--color-white);
  border-radius: 20px;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 40px;
}

.container__list .item .item-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.container__list .item__text-areare .value {
  display: block;
  color: var(--color-black);
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  line-height: 30px;
  margin-top: 40px;
}

.container__list .item__text-areare .text {
  display: block;
  color: var(--color-gray);
  font-size: var(--size-regular);
  font-weight: var(--weight-light);
  line-height: 30px;
  margin-top: 20px;
}


/* notice */
.records__notice {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 70px 0;
  text-align: center;
  margin-bottom: 70px;
}

.notice__title {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  line-height: 24px;
}

.notice__icon {
  width: 60px;
  height: 60px;
  margin: 40px auto;
}

.notice__subtitle {
  font-size: var(--size-medium);
  font-weight: var(--weight-medium);
  display: block;
  margin-bottom: 40px;
  line-height: 24px;
}

.notice__name {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  display: block;
  color: var(--color-red);
  margin-bottom: 40px;
  line-height: 24px;
}

.notice__text {
  font-size: var(--size-medium);
  line-height: 24px;
}

/* memo */
.records__memo {
  width: 100%;
  height: 100%;
  padding: 70px 0;
  background-color: var(--color-white);
  text-align: center;
  border-radius: 20px;
}

.memo__btn {
  margin-bottom: 40px;
}

.memo__text {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  line-height: 24px;
}

@media screen and (max-width: 1024px) {
  .records {
    margin-bottom: 7rem;
  }

  .records .inner {
    width: 335px;
  }

  .records__title {
    padding: 2rem 0;
    margin-bottom: 1rem;
  }

  .records__calendar {
    margin-bottom: 4rem;
    overflow: hidden;
  }

  .calendar__list {
    width: 100%;
    height: 100%;
    padding: 1rem 1.5rem;
    margin-right: 1rem;
  }

  .calendar__list .week::before {
    content: "";
    width: 16px;
    height: 0;
    border: .5px solid var(--color-gray);
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .calendar__list:first-child .week,
  .calendar__list:first-child .day {
    color: var(--color-black);
  }

  .calendar__list:first-child .week::before {
    border: .5px solid var(--color-black);
  }

  .records__chart {
    padding: 2rem 2rem;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .records__chart .top__left .number,
  .records__chart .top__right .number {
    font-size: var(--size-medium);
    font-weight: var(--weight-medium);
    margin-bottom: 1rem;
    line-height: 2.4rem;
  }

  .records__chart .top__left .text,
  .records__chart .top__right .text {
    font-size: var(--size-regular);
    font-weight: var(--weight-regule);
  }

  .records-chart {
    width: 13rem;
    height: 13rem;
    text-align: center;
    margin: auto 0;
    position: relative;
  }

  .records-chart .number {
    position: absolute;
    top: 4rem;
    font-size: var(--size-bold);
  }

  .records-chart .text {
    font-size: var(--size-regular);
    font-weight: var(--weight-light);
    position: absolute;
    top: 14rem;
  }

  .chart__bottom {
    margin-top: 2rem;
  }

  .bottom__list .item {
    text-align: center;
  }

  .bottom__list .item .title {
    font-size: var(--size-regular);
    font-weight: var(--weight-medium);
    margin-bottom: 2rem;
    position: relative;
  }

  .bottom__list .item .title::before {
    content: "";
    width: 4rem;
    height: 0;
    border: .5px solid var(--color-gray);
    position: absolute;
    top: 2.5rem;
  }

  .bottom__list .item .value {
    font-size: var(--size-micro);
    font-weight: var(--weight-regule);
  }

  .records__container {
    margin: 4rem 0;
  }

  .container__list .item {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2rem 2rem;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
  }

  .container__list .item:last-child {
    margin-bottom: 0;
  }

  .container__list .item .item-img {
    width: 4rem;
    height: 4rem;
    margin: 0;
  }

  .container__list .item .item__text-areare {
    text-align: left;
    margin-left: 2rem;
  }

  .container__list .item .item__text-areare .value {
    font-size: var(--size-regular);
    font-weight: var(--weight-medium);
    line-height: 2rem;
    margin: 0;
  }

  .container__list .item .item__text-areare .text {
    font-size: var(--size-small);
    font-weight: var(--weight-light);
    line-height: 1.8rem;
    margin-top: 1rem;
  }

  .container__list .item .item__btn {
    width: 3rem;
    height: 3rem;
    padding: .2rem;
    margin: auto 0;
    position: absolute;
    right: 2rem;
    top: 0;
    bottom: 0;
  }

  .container__list .item .item__icon {
    font-size: var(--size-small);
    text-align: center;
    line-height: 2.4rem;
  }

  .records__notice {
    padding: 2rem 0;
    margin-bottom: 2rem;
  }

  .notice__title {
    margin-bottom: 1rem;
  }

  .notice__icon {
    width: 2rem;
    height: 2rem;
    margin: 1rem auto;
  }

  .notice__subtitle,
  .notice__name {
    margin-bottom: 2rem;
  }

  .records__memo {
    padding: 2rem;
  }

  .records__memo .item__icon {
    font-size: var(--size-small);
    text-align: center;
    line-height: 2.4rem;
  }

  .memo__btn {
    width: 3rem;
    height: 3rem;
    padding: .2rem;
    margin: 0;
  }

  .memo__text {
    font-size: var(--size-small);
    line-height: 1.8rem;
    margin-top: 1rem;
  }
}