:root {
  /* COLOR */
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #C9C9C9;
  --color-lightGray: #FAFAFA;
  --color-yello: #FFD146;
  --color-darkBlue: #292E3A;
  --color-blue: #0043ca;

  /* FONTSIZE */
  --size-bold: 4rem;
  --size-medium: 2rem;
  --size-regular: 1.6rem;
  --size-small: 1.4rem;
  --size-micro: 1.2rem;

  /* WEIGHT */
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regule: 400;
  --weight-light: 300;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  cursor: default;
  background-color: var(--color-lightGray);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.photo {
  width: 820px;
  height: 680px;
}

.photo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEDER */
.header {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background-color: var(--color-white);
}

.header .inner {
  position: relative;
}

.header .header__logo {
  margin: auto 0;
  z-index: 99;
}

.header .header__logo .anchor {
  font-size: var(--size-bold);
  font-weight: var(--weight-bold);
  color: var(--color-yello);
  line-height: 59px;
}

.header .header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 27px;
}

.header .header__nav .item {
  text-align: center;
  padding: 0 60px;
}

.header .header__nav .item .anchor {
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  line-height: 27px;
}

.header .header__user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.header .header__user-menu .item {
  margin-left: 40px;
  position: relative;
}

.header .header__user-menu .item .anchor {
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
}

.header .header__user-menu .item::before {
  content: "";
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  border: 1px solid var(--color-gray);
  margin: 0 auto;
}

.header .header__user-menu .item:first-child:before {
  display: none;
}

/* MAIN VIEW */
.main-view .inner {
  width: 1280px;
  height: 100%;
}

.main-view .title {
  width: 100%;
  margin-top: 120px;
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
}

.main-view .main-view--but {
  background-color: var(--color-black);
  border: none;
  margin-top: 40px;
}

.main-view .wrapper {
  width: 100%;
  margin-top: 70px;
}

.main-view .wrapper .news .news__banner {
  margin-top: 70px;
}

.main-view .wrapper .news .news__banner .text-arear {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 0 0 20px 20px;
  padding: 20px 20px;
}

.main-view .wrapper .news .news__banner .text-arear .tag {
  display: flex;
  font-size: var(--size-micro);
  font-weight: var(--weight-medium);
  color: var(--color-blue);
  margin-bottom: 20px;
  line-height: 21px;
}

.main-view .wrapper .news .news__banner .text-arear .tag p {
  margin-right: 10px;
}

.main-view .wrapper .news .news__banner .logo {
  display: flex;
}

.main-view .wrapper .news .news__banner .logo .logo__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.main-view .wrapper .news .news__banner .logo .logo__text {
  margin: auto 0;
}

.main-view .wrapper .news .news__banner .logo .logo__text .name {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  line-height: 30px;
}

.main-view .wrapper .news .news__banner .logo .logo__text .day {
  font-size: var(--size-small);
  font-weight: var(--weight-regule);
  color: var(--color-gray);
  margin-top: 10px;
  line-height: 24px;
}

.main-view .wrapper .news .news__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.main-view .wrapper .news .news__list .item {
  width: 630px;
  height: 240px;
  background-color: var(--color-white);
  border-radius: 20px;
  display: flex;
}

.main-view .wrapper .news .news__list .item .anchor {
  display: flex;
  padding: 20px;
}

.main-view .wrapper .news .news__list .item .item__img {
  width: 310px;
  height: 100%;
  object-fit: cover;
  text-align: center;
  overflow: hidden;
  margin-right: 20px;
}

.main-view .wrapper .news .news__list .item .item__text-arear .tit {
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  margin-bottom: 20px;
}

.main-view .wrapper .news .news__list .item .item__text-arear .name {
  font-size: var(--size-small);
  font-weight: var(--weight-medium);
  margin-bottom: 20px;
}

.main-view .wrapper .news .news__list .item .item__text-arear .icon {
  font-size: var(--size-bold);
  color: red;
}

.main-view .wrapper .following .following__list .item {
  width: 547px;
  height: 687px;
  background-color: var(--color-white);
  position: relative;
}

.main-view .wrapper .following .following__list .item .content {
  display: flex;
  padding: 20px 0;
}

.main-view .wrapper .following .following__list .item .content .profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: contain;
}

.visular .visular__inner .visular__wrapper .following__slide .slide__list .list__item .item__content .content__profile {}

.visular .visular__inner .visular__wrapper .following__slide .slide__list .list__item .item__content .content__text-arear {
  margin: auto 0;
  position: relative;
  width: 50%;
}

.visular .visular__inner .visular__wrapper .following__slide .slide__list .list__item .item__content .content__text-arear .name {
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  margin-bottom: 10px;
}

.visular .visular__inner .visular__wrapper .following__slide .slide__list .list__item .item__content .content__text-arear .time {
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
  position: absolute;
  top: 4px;
  right: 0;
  left: 52px;
}

.visular .visular__inner .visular__wrapper .following__slide .slide__list .list__item .item__content .content__text-arear .domicile {
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
}

.visular .visular__inner .visular__wrapper .following__slide .slide__list .list__item .item__content .content__info {
  position: absolute;
  top: 40px;
  right: 20px;
}

.visular .visular__inner .visular__wrapper .following__slide .slide__list .list__item .item__content .content__info .info-menu {
  font-size: var(--size-small);
  cursor: pointer;
}

.visular .visular__inner .visular__wrapper .following__slide .slide__list .list__item .item__content .content__info .info__discription {
  width: 120px;
  height: 100px;
  padding: 16px;
  position: absolute;
  right: 0px;
  background-color: var(--color-white);
  font-size: var(--size-micro);
  font-weight: var(--weight-regule);
  border: 1px solid red;
  display: none;
}

.visular .visular__inner .visular__wrapper .following__slide .slide__list .list__item .item__content .content__info .info__discription .sns {
  margin-bottom: 20px;
}