:root {
  /* COLOR */
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #C9C9C9;
  --color-lightGray: #FAFAFA;
  --color-yello: #FFD146;
  --color-darkBlue: #292E3A;

  /* FONTSIZE */
  --size-bold: 4rem;
  --size-medium: 2.8rem;
  --size-regular: 2.4rem;
  --size-small: 2rem;
  --size-micro: 1.6rem;

  /* WEIGHT */
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regule: 400;
  --weight-light: 300;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  cursor: default;
  background-color: var(--color-lightGray);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.inner {
  width: 1680px;
  height: 100%;
  margin: 0 auto;
}

/* HEDER */
#header {
  padding: 20px 0;
  background-color: var(--color-white);
}

#header .inner {
  position: relative;
}

#header .header__logo {
  margin: auto 0;
  display: flex;
}

#header .header__logo .logo__text {
  z-index: 100;
}

#header .header__logo .logo__text a {
  font-size: var(--size-bold);
  font-weight: var(--weight-bold);
  color: var(--color-yello);
  box-sizing: border-box;
  line-height: 59px;
}

#header .header__nav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

#header .header__nav .nav__item {
  text-align: center;
  margin: auto 0;
  padding: 0 60px;
}

#header .header__nav .nav__item .item {
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  line-height: 27px;
}

#header .header__user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

#header .header__user-menu .user-menu__item {
  margin-left: 40px;
  position: relative;
}

#header .header__user-menu .user-menu__item .anchor {
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
}

#header .header__user-menu .user-menu__item::before {
  content: "";
  width: 0;
  height: 17px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  border: 1px solid var(--color-gray);
  margin: 0 auto;
}

#header .header__user-menu .user-menu__item:first-child:before {
  display: none;
}

/* VISULAR */
#visular .inner .visular__title {
  width: 100%;
  margin-top: 120px;
}

#visular .inner .visular__title .title {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
}

#visular .inner .visular__but {
  background-color: var(--color-white);
  border: none;
  margin-top: 40px;
}

#visular .inner .visular__wrapper {
  width: 100%;
  margin-top: 120px;
}

#visular .inner .visular__wrapper .visular__slide .slide__main .main__text-arear {
  width: 100%;
  padding: 20px 40px;
  background-color: var(--color-white);
  border-radius: 0 0 20px 20px;
}

#visular .inner .visular__wrapper .visular__slide .slide__main .main__text-arear .text {
  display: flex;
  font-size: var(--size-small);
  font-weight: var(--weight-medium);
  margin-bottom: 40px;
}

#visular .inner .visular__wrapper .visular__slide .slide__main .main__text-arear .text p {
  margin-right: 20px;
}

#visular .inner .visular__wrapper .visular__slide .slide__main .main__text-arear .tit {
  display: flex;
}

#visular .inner .visular__wrapper .visular__slide .slide__main .main__text-arear .tit .tit__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
}

#visular .inner .visular__wrapper .visular__slide .slide__main .main__text-arear .tit .tit__text {
  margin: auto 0;
}

#visular .inner .visular__wrapper .visular__slide .slide__main .main__text-arear .tit .tit__text .title {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  margin-bottom: 10px;
}

#visular .inner .visular__wrapper .visular__slide .slide__main .main__text-arear .tit .tit__text .day {
  font-size: var(--size-small);
  font-weight: var(--weight-regule);
  color: var(--color-gray);
  margin-top: 10px;
}

#visular .inner .visular__wrapper .visular__slide .slide__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 40px 0 12 0px 0;
}

#visular .inner .visular__wrapper .visular__slide .slide__item .item__list {
  width: 547px;
  height: 267px;
  background-color: var(--color-white);
  border-radius: 20px;

}

#visular .inner .visular__wrapper .visular__slide .slide__item .item__list .list-link {
  display: flex;
}

#visular .inner .visular__wrapper .visular__slide .slide__item .item__list .list__img {
  width: 277px;
  height: 277px;
  object-fit: cover;
  text-align: center;
  overflow: hidden;
  padding: 20px 20px;
}

#visular .inner .visular__wrapper .visular__slide .slide__item .item__list .list__text-arear .tit {
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  padding: 20px 0;
}

#visular .inner .visular__wrapper .visular__slide .slide__item .item__list .list__text-arear .name {
  font-size: var(--size-small);
  font-weight: var(--weight-regule);
  margin-bottom: 20px;
}

#visular .inner .visular__wrapper .visular__slide .slide__item .item__list .list__text-arear .icon {
  font-size: var(--size-bold);
  color: red;
}