:root {
  /* COLOR */
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #C9C9C9;
  --color-lightGray: #FAFAFA;
  --color-yello: #FFD146;
  --color-darkBlue: #292E3A;
  --color-blue: #0043ca;

  /* FONTSIZE */
  --size-bold: 4rem;
  --size-medium: 2rem;
  --size-regular: 1.6rem;
  --size-small: 1.4rem;
  --size-micro: 1.2rem;

  /* WEIGHT */
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regule: 400;
  --weight-light: 300;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  cursor: default;
  background-color: var(--color-lightGray);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.photo {
  width: 820px;
  height: 680px;
}

.photo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon__hidden {
  overflow: hidden;
  display: inline-block;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

/* HEDER */
.header {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background-color: var(--color-white);
  margin-bottom: 120px;
}

.header .inner {
  position: relative;
}

.header__logo {
  margin: auto 0;
  position: relative;
  z-index: 99;
  display: inline-block;
}

.header__logo .anchor {
  font-size: var(--size-bold);
  font-weight: var(--weight-bold);
  color: var(--color-yello);
  line-height: 59px;
}

.header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 27px;
}

.header__nav .nav__item {
  text-align: center;
  padding: 0 60px;
  display: inline;
}

.nav__item>.anchor {
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  line-height: 27px;
}

.header__user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.user-menu__item {
  margin-left: 40px;
  position: relative;
}

.user-menu__item>.anchor {
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
}

.user-menu__item::before {
  content: "";
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  border: 1px solid var(--color-gray);
  margin: 0 auto;
}

.user-menu__item:first-child:before {
  display: none;
}

/* MAIN VIEW */
.message .inner {
  width: 1280px;
  height: 100%;
  position: relative;
}

.message__title {
  width: 100%;
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
}

.message--but {
  width: 70px;
  height: 24px;
  border: none;
  position: absolute;
  top: 70px;
  left: 0;
  text-align: left;
  display: flex;
}

.swiper-pagination-bullet {
  width: 70px;
  height: 0;
  background: none;
  border-radius: 0;
  font-size: var(--size-regular);
  font-weight: var(--weight-medium);
  margin-left: 20px;
  position: relative;
}

.swiper-pagination-bullet-active {
  transition: all .2s;
}

.swiper-pagination-bullet-active::after {
  content: "";
  width: 40px;
  height: 0;
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  position: absolute;
  top: 40px;
  left: 0;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
}

.message__swiper {
  margin-top: 140px;
}

.chatting {
  width: 100%;
  height: 57.68924302788845%;
  display: flex;
  justify-content: space-between;
}

.chatting__left {
  background-color: var(--color-white);
  max-width: 34.375%;
  max-height: 778px;
  padding: 20px 20px;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.chatting__left::-webkit-scrollbar {
  display: none;
}

.left__search {
  position: relative;
}

.left__search .left-input {
  width: 400px;
  height: 44px;
  border-radius: 20px;
}

.left__search .left-icon {
  font-size: var(--size-medium);
  position: absolute;
  top: 12px;
  right: 20px;
}

.left__container {
  margin-top: 20px;
  display: flex;
  padding: 20px 20px;
  background-color: var(--color-lightGray);
  border-radius: 20px;
  align-items: center;
}

.left__container .profile {
  width: 60px;
  height: 60px;
  object-fit: cover;
  text-align: center;
  border-radius: 50%;
  margin-right: 20px;
}

.left__container .text-arear {
  position: relative;
}

.left__container .text-arear .name {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  display: block;
  margin-bottom: 10px;
  line-height: 24px;
}

.left__container .text-arear .talk {
  display: block;
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
  color: var(--color-gray);
  line-height: 15px;
}

.left__container .text-arear .time {
  position: absolute;
  top: 14px;
  right: -120px;
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
  color: var(--color-gray);
}

.chatting__right {
  width: 62.5%;
  max-height: 778px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--color-white);
  border-radius: 20px;
}

.chatting__right::-webkit-scrollbar {
  display: none;
}

.right__profil {
  text-align: center;
  width: 100%;
  background-color: var(--color-darkBlue);
  padding: 20px 0;
}

.right__profil .right-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  text-align: center;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.right__profil .right__title .name {
  font-size: var(--size-medium);
  font-weight: var(--weight-medium);
  line-height: 30px;
  color: var(--color-white);
  margin: 20px 0;
}

.right__profil .right__title .time {
  font-size: var(--size-micro);
  font-weight: var(--weight-light);
  line-height: 18px;
  color: var(--color-white);
}

.right__chatroom {
  margin-top: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid red;
}

.right__chatroom .user {
  padding: 20px;
  margin-bottom: 70px;
  background-color: var(--color-lightGray);
  display: inline-block;
  clear: both;
  float: left;
}

.right__chatroom .user .text {
  font-size: var(--size-medium);
}

.right__chatroom .my-text {
  padding: 20px;
  margin-bottom: 70px;
  text-align: right;
}



/* FOOTER */
.footer {
  background-color: var(--color-darkBlue);
  width: 100%;
  height: 100%;
  padding: 70px 0;
  margin-top: 120px;
}

.footer__list {
  display: flex;
  color: var(--color-yello);
}

.footer__list .list {
  margin-right: 120px;
}

.footer__list .list .list__title {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  margin-bottom: 40px;
  line-height: 20px;
}

.footer__list .list .list__icon .icon {
  font-size: 30px;
  color: var(--color-white);
  margin-right: 40px;
}

.footer__list .list .list__text {

  line-height: 24px;
  color: var(--color-white);
  font-size: var(--size-regular);
  font-weight: var(--weight-regule);
}

.footer__list .list .list__text dd,
.footer__list .list .list__number dd {
  margin-bottom: 10px;
}


.search__arear {
  margin-bottom: 20px;
}

.footer__search .search--input {
  width: 240px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.footer__search .search--icon {
  font-size: var(--size-medium);
  text-align: center;
  line-height: 24px;
}

/* max-width 768px */
@media screen and (max-widht: 768px) {
  :root {
    /* COLOR */
    --color-white: #fff;
    --color-black: #333;
    --color-gray: #C9C9C9;
    --color-lightGray: #FAFAFA;
    --color-yello: #FFD146;
    --color-darkBlue: #292E3A;
    --color-blue: #0043ca;

    /* FONTSIZE */
    --size-bold: 4rem;
    --size-medium: 2rem;
    --size-regular: 1.6rem;
    --size-small: 1.4rem;
    --size-micro: 1.2rem;

    /* WEIGHT */
    --weight-bold: 700;
    --weight-medium: 500;
    --weight-regule: 400;
    --weight-light: 300;
  }

  .header__logo {
    display: none;
  }

  .header__nav {}
}